
name: Deploy DAGs
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Deployment Success
        run: echo "Successfully deployed DAGs to $(pwd)"
